
#populaires {
    width: 100%;
    border-radius:0px;
    font-size: 150%
}
.titre_section{
    font-size: 250%;
    height: 62.5px;
}




#hebergements {
    height: 3000px;
}

.cadre_hebergement {
    width: 90%;
    height: 15%;
}