@media (max-width: 768px) {

/*En-tête*/
header {
    height: auto;
}

#en-tete {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-items: center;
}

#logo {
    width: 100%;
    height: auto;
    justify-content: center;
}

#main_logo {
    margin-left: 0px;
    align-self: center;
    width: auto;
    height: auto;
}

#navigation {
    width: 100%;
    height: 80px;
    gap: 0px;
}

.bouton_nav {
    width: 50%;
}

.nav_h {
    border-top: 0px solid transparent;
    border-bottom: 5px solid #0065fc;
}

.nav_a {
    border-top: 0px solid transparent;
    border-bottom: 5px solid #f2f2f2;
}

h1 {
    line-height: 40px;
    max-width: 90%;
    margin-left: 20px;
}

/*Formulaire de recherche*/

#search_desktop {
    display: none;
}

#form_phone {
    display: flex;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.search_form {
    margin-left: 20px;
}

.gps_button {
    width: 62px;
    height: 62px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.search_space {
    height: 56px;
    width: 220px;
}

.search_button {
    height: 62px;
    width: 62px;
    margin-left: -25px;
    border-radius: 25px;
}

.search_desktop {
    display:none;
}

.search_phone {
    display: flex;
}

.fa-search {
    color: white;
}

/*Filtres*/

#filter_zone {
    flex-direction: column;
}

#filters{
    justify-content: left;
}

.filter {
    justify-content: left;
    height: auto;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    width: 50%;
}

.cercle_icone {
    width: 102px;
    height: 102px;
    border-radius: 51px;
}

/*Populaires*/

#populaires {
    display: flex;
    width: 100%;
    height: 1500px;
    order: 1;
    flex-wrap: wrap;
    border-radius: 0%;
    margin-top: 50px;
}

.titre_section {
    width: 100%;
}

.cadre_populaire {
    height: 25%;
}

.texte_pop {
    max-width: 50%;
}

.etoiles_pop .fa-star {
    margin-top: 30%;
}

/*Hébergements*/

#hebergements {
    order: 2;
    width: 100%;
    height: 4000px;
    background-color: transparent;
}

.vignettes_hebergement {
    height: 90%;
}

.cadre_hebergement {
    width: 90%;
    height: 15%;
}

.photo_sizing {
    height: 60%;
}

/*Activités*/

#activites {
    order: 3;
    height: 2500px;
    align-content: center;
    display: flex;
    flex-direction: column;
}

#ligne_activites {
    flex-wrap: wrap;
    gap: 20px;
}

.cadre_activites {
    width: 90%;
    height: 1250px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
}

.grande {
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
}

.cadre_petites {
    flex-direction: column;
    width: 100%;
}

.petite1 {
    width: 100%;
    height: 400px;
}

.petite2 {
    width: 100%;
    height: 400px;
}

.petite3 {
    width: 100%;
    height: 400px;
}


/*Footer*/


#section_footer {
    flex-direction: column;
}

.div_footer {
    width: 100%;
}

}