
#filter_zone {
    max-width: 80%;
    flex-wrap: wrap;
}

#corps {
    gap: 50px;
}

#populaires {
    width: 90%;
    align-self: center;
    order: 1;
}

#hebergements {
    width: 90%;
    align-self: center;
    height: 1500px;
    order: 2;
}

#activites {
    order: 3;
}

footer {
    order: 4;
}

.lien_image_pop {
    width: 50%;
}

.vignettes_hebergement {
    flex-wrap: wrap;
    height: 90%;
}

.cadre_hebergement {
    width: 45%;
    height: 30%;
}

#ligne_activites {
    flex-direction: column;
    height: 100%;
    gap: 25px;
}

.cadre_activites {
    width: 100%;
    height: 48%;
}

.img_grande {
    margin-bottom: -40px;
}

.img_petite {
    margin-bottom: -40px;
}

.frise_activite {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}