@media (min-width: 769px) and (max-width: 992px) {

body {
    width: auto;
}

#search_phone {
    display: none;
}

h1 {
    max-width: 80%;
}

/*Populaires*/

#populaires {
    display: flex;
    width: 100%;
    height: 800px;
    order: 1;
    flex-wrap: wrap;
    border-radius: 0%;
    margin-top: 50px;
}

.titre_section {
    width: 100%;
}

.cadre_populaire {
    height: 25%;
}

.nom_prix {
    font-size: 135%;
}

/*Hébergements*/

#hebergements {
    order: 2;
    width: 100%;
    background-color: transparent;
}

.vignettes_hebergement {
    height: 90%;
}

.cadre_hebergement {
    width: 45%;
    height: 30%;
}

.photo_sizing {
    height: 60%;
}

/*Activités*/

#activites {
    order: 3;
    height: 24%;
}

#ligne_activites {
    flex-wrap: wrap;
    gap: 20px;
    height: 85%;
}

.cadre_activites {
    width: 100%;
    height: 50%;
}

.grande {
    width: 30%;
    height: 95%;
}

.cadre_petites {
    flex-direction: row;
    width: 60%;
}

.petite1 {
    width: 45%;
    height: 95%;
}

.petite2 {
    width: 45%;
    height: 95%;
}

.petite3 {
    width: 45%;
    height: 95%;
}
}